= form_with url: mappings_path, data: { controller: 'mapping-form',
                                        action: 'mapping-target-autocomplete:selected->mapping-form#targetClassSelected' } do
  .modal-body
    #new_mapping_errors
    .mb-3
      %label.form-label{for: 'map_to_bioportal_ontology_id'}= t('mappings.form.target_ontology')
      = select_tag :map_to_bioportal_ontology_id, options_for_select(onts_and_views_for_select),
                   include_blank: true, required: true,
                   data: { mapping_form_target: 'ontologySelect', placeholder: t('mappings.form.select_ontology') }
    .mb-3
      %label.form-label{for: 'map_to'}= t('mappings.form.target_class')
      = text_field_tag :map_to, nil, class: 'form-control', autocomplete: 'off', required: true, disabled: true,
                       placeholder: t('mappings.form.target_class_placeholder'),
                       data: { controller: 'mapping-target-autocomplete',
                               mapping_target_autocomplete_object_types_value: 'class',
                               mapping_form_target: 'classInput' }
      = hidden_field_tag :map_to_bioportal_full_id, nil, data: { mapping_form_target: 'classId' }
      = hidden_field_tag :map_from_bioportal_full_id, @concept_from.id
      = hidden_field_tag :map_from_bioportal_ontology_id, @ontology_from.acronym
    .mb-3
      %label.form-label{for: 'map_to_details'}= t('mappings.form.details')
      = turbo_frame_tag 'map_to_details', data: { mapping_form_target: 'detailsFrame' }
    .mb-3
      %label.form-label{for: 'mapping_comment'}= t('mappings.form.comment')
      = text_area_tag :mapping_comment, nil, rows: 5, class: 'form-control'
    .mb-3
      %label.form-label{for: 'mapping_relation'}= t('mappings.form.relation')
      = select_tag :mapping_relation, options_for_select(@mapping_relation_options), class: 'form-select'
  .modal-footer
    %button.btn.btn-secondary{type: 'button', data: { bs_dismiss: 'modal' }}= t('mappings.form.close')
    = submit_tag t('mappings.form.create'), class: 'btn btn-primary'
